[submodule "modules/vnet"]
	path = modules/vnet
	url = https://github.com/soribs/terraform-azurerm-vnet
[submodule "modules/vm"]
	path = modules/vm
	url = https://github.com/soribs/terraform-azurerm-vm
[submodule "modules/subnet-nsg"]
	path = modules/subnet-nsg
	url = https://github.com/soribs/terraform-azurerm-subnet-nsg
[submodule "modules/storage-account"]
	path = modules/storage-account
	url = https://github.com/soribs/terraform-azurerm-storage-account
[submodule "modules/resource-group"]
	path = modules/resource-group
	url = https://github.com/soribs/terraform-azurerm-resource-group
[submodule "modules/public-ip"]
	path = modules/public-ip
	url = https://github.com/soribs/terraform-azurerm-public-ip
[submodule "modules/nat-gateway"]
	path = modules/nat-gateway
	url = https://github.com/soribs/terraform-azurerm-nat-gateway
[submodule "modules/monitoring"]
	path = modules/monitoring
	url = https://github.com/soribs/terraform-azurerm-monitoring
[submodule "modules/data-disks"]
	path = modules/data-disks
	url = https://github.com/soribs/terraform-azurerm-data-disks
[submodule "modules/bastion"]
	path = modules/bastion
	url = https://github.com/soribs/terraform-azurerm-bastion
